<article id="getbusy">
  <h1>See More!</h1>
  <p>If you want to keep up with what's going on with the group, <a href="https://www.facebook.com/groups/293637065953/">join our FaceBook group</a>.</p>
</article><!-- article -->