<article id="whoarewe">
  <h1>Overview</h1>
    <p>This site contains pictures and descriptions from my recent trip to Jamaica. It runs on node.js with express.js and pulls together the content dynamically from a json data file and adjusts the DOM with Javascript to overlay the full size images. This site was adapted from a site used in a tutorial on Lynda.com</p>
</article><!-- article -->